{% extends 'base.html' %}
{% block content%}
<div class="col-md-12 forms">
<form method="POST" action="{% url 'create_note' %}">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
{% endfor %}
{% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
{% endif %}
<input type="submit" value="Create Note"style="color:blue">
</form>
</div>
{% endblock %}