{% extends 'base.html' %}
{% block content%}

<main class="container">
<h1>{{ user.first_name }}'s Meeting Notes</h1>
<div>
    <a href="{% url 'create_note' %}">Create a note</a>
</div>
<div>
    <form action="{% url 'search_results' %}" method="get">
        <div>Search for note by title: <input name="q" type="text" placeholder="Search...">
        <button type="submit">Search</button>
        </div>
    </form>
</div>
</div>
<hr>
<div class="container">
<div class="row col-md-20">
{% if notes %}
    {% for note in notes %}
        <div class="col-md-2">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.org_name }}</p>
                    <p class="card-text">{{ note.purpose }}</p>
                    <p class="card-text">{{ note.total_attendance }}</p>
                    <p class="card-text">Created on {{ note.date_created }}</p>
                    <a href="{% url 'edit_note' note.id %}" class="pull-left">
                        <button type="button" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit"></span> Edit Note
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
{% else %}
    <h2>You don't have any notes yet!</h2>
{% endif %}
</div>
</main>
{% endblock %}