{% extends 'base.html' %}

{% block content%}
  <div class="container pure-border text-center">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form method="POST" action="{% url 'register' %}" class="pure-form pure-form-aligned">
              <fieldset>
              {% csrf_token %}
                {% for field in form %}
                <div class="pure-control-group">
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% if field.help_text %}
                        <p style="color: black">{{ field.help_text }}</p>
                    {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="pure-button pure-button-primary">Register Account</button>
            </div>
            </fieldset>
              </form>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

{% endblock %}